extends ../layout

block content
  h1= title

  if errors.errors !== undefined 
    each message in errors.errors 
        p=message


  form(method='post')
    p  
        label Tytuł artykułu
            input(type='text' name='title' value=body.title || '') 
    p  
        label Opis
            textarea(name='description', cols="28", rows="4",)=body.description || ''
           
           
    p  
        input(type='submit' value='Dodaj')
